#content {
    display: flex;
    padding: 2rem;
    text-align: center;
}

#content .container{
    flex: 1;
    padding: auto 2%;
    margin: auto 0;
}

#content .video{
    flex: 1;
    padding: auto 2%;
}

#content video{
    width: 90%;
    height: auto;
    padding: auto 2%;
}

#content .container, #content .video{
    margin-top: 80px;
}