
.content {
    display: flex;
    padding: 2rem;
    text-align: center;
}

.content .container{
    flex: 1;
    margin-right: 2%;
    padding: auto;
}

.content .img{
    flex: 1;
    margin-left: 2%;
    color: white;
    background-color: aqua;
}

.content .container, .content .img{
    margin-top: 80px;
}

.accent-color{
    color: var(--orange);
}

.accent-color.bold{
    font-weight: bold;
}

/* Seção Features */
#features {
  scroll-margin-top: 70px;
  background: var(--light-blue);
  padding: 3rem 0;
}

#features h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.features-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.feature-card:hover{
  border: 2px solid var(--orange);
}

.feature-card {
  background: #f9f9f9;
  border: 2px solid transparent;
  padding: 1.5rem;
  border-radius: 8px;
  width: calc(33% - 2rem);
  min-width: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feature-card h3 {
  margin-bottom: 0.5rem;
}

.feature-card ul {
  margin: 1rem 0 0 1rem;
  list-style: disc;
}

.plan {
    display: flex;
    padding: 2rem;
}

.tittles h2, .tittles h3, .tittles p{
    text-align: center;
    margin-bottom: 10px;
}

.plan .descrition{
    font-size: 12px;
    text-align: justify;
}
.plan .subtittle{
    margin-top: 10px;
    font-weight: bold;
    text-align: justify;
}

.plan .container{
    flex: 1;
    margin-right: 2%;
    padding: auto;
}

#plan .img{
    flex: 1;
    margin-left: 2%;
    color: white;
}

#plan img{
    width: 100%;
    height: auto;
}

#plan a{
    border-radius: 8px;
    padding: 12px 24px;
    background-color: var(--orange);
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    display: block;
    margin: 30px 30% 0 30%;
    text-align: center;
}
#plan a:hover{
    background-color: #ca5100;;
}
#plan .vagas{
    text-align: center;
    font-size: 12px;
}
.politica-privacidade{
    margin: 0px 100px 0px 100px;
}

.politica-privacidade h1{
    padding-top: 80px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}

.politica-privacidade h2{
    font-size: 20px;
    margin: 40px 0px 20px 0px;
}

.politica-privacidade P{
    margin-bottom: 15px;
}
