footer {
  background: var(--dark-blue);
  color: var(--white);
  padding: 1rem 0;
  text-align: center;
  font-size: 12px;
}

/* Posiciona o link à direita */
footer .container a {
  margin-left: auto;
  color: var(--white);
  text-decoration: none;
}