.hero-content h1 span {
  color: var(--orange);
}

.cta-button {
  background: var(--orange);
  color: var(--white);
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.cta-button:hover {
  background: #d45600;
}

/* Seção Features */
.features {
  background: var(--light-blue);
  padding: 3rem 0;
}

.features h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.features-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.feature-card:hover{
  border: 2px solid var(--orange);
}

.feature-card {
  background: #f9f9f9;
  border: 2px solid transparent;
  padding: 1.5rem;
  border-radius: 8px;
  width: calc(33% - 2rem);
  min-width: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feature-card h3 {
  margin-bottom: 0.5rem;
}

.feature-card ul {
  margin: 1rem 0 0 1rem;
  list-style: disc;
}

/* Seção Planos */
.plans {
  background: var(--light-blue);
  padding: 3rem 0;
  text-align: center;
}

.plans .time-limited {
  margin-bottom: 2rem;
  color: var(--orange);
  font-weight: bold;
  animation: piscar 1s infinite;
}

@keyframes piscar {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.plans-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.plan-card {
  background: var(--white);
  padding: 2rem;
  border-radius: 10px;
  width: 280px;
  border: 2px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.plan-card:hover {
  border: 2px solid var(--orange);
}

.plan-card .price {
  font-size: 2rem;
  color: var(--orange);
  margin: 1rem 0;
}

.plan-card ul {
  text-align: left;
  padding-left: 20px;
  margin-bottom: 1rem;
}







/* Formulário */
.form-section {
  background: var(--white);
  padding: 3rem 0;
}

.form-section h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form label {
  font-weight: bold;
}

.form input,
.form select {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form button {
  margin-top: 1rem;
}

/* Utilitários */
.hidden {
  display: none;
}

/* Rodapé */

